$icon-size: 20px;

@mixin icon {
  .icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
